/*Start light theme*/
:root{
	--navbarBackgroundColor:#fff;
	--bodyColor:#f3f2ef2e;
	--headerBackgroundColor:#fff;
	--mainText:#353535;
	--secondaryText:#4b5156;
	--topBarBacgroundColor:#778492;
	--cardBackgroundColor:#fff;
	--listBackgroundColor:#fff;
	--footerBackgroundColor:#252525;
	--navLinkColor:gray;
	--navLinkHoverColor:rgb(0, 0, 0);
	--navbarIconColor:#4b5156;
	--modalBackgroundColor:#fff;
	--aciveNavLinkColor:#000;
	--footerColor:#dcdcdc;
	--hrColor:#cccccc;
	--headIconColor: #353535;
	--headIconBackgroundColor:#fff;
	--headIconBorderColor:	#353535;
	;
}
/*End light theme*/

/*Start dark theme*/
.darkmode {
    --navbarBackgroundColor: #161b22;
    --bodyColor: #0d1117;
    --headerBackgroundColor: #161b22;
    --mainText: #e4e4e4;
    --secondaryText: #c2c2c2;
    --topBarBacgroundColor: #778492;
    --cardBackgroundColor: #161b22;
    --listBackgroundColor: #161b22;
    --footerBackgroundColor: #161b22;
    --color-calendar-graph-day-bg: #0d1117;
    --calendarTextColor: #e4e4e4;
    --navLinkColor: #c6c6c6;
    --navLinkHoverColor: rgb(255, 255, 255);
    --navbarIconColor: #fff;
	--modalBackgroundColor:#161b22;
	--aciveNavLinkColor:#fff;
	--footerColor:#dcdcdc;
	--hrColor:#161b22;
	--headIconColor:#e4e4e4;
	--headIconBackgroundColor:#161b22;
	--headIconBorderColor:#fff;
}
/*End dark theme*/

/*Start body style*/
html, body{
	padding: 0;
	margin: 0;
	max-width: 100%;
    overflow-x: hidden;
	scroll-behavior: smooth;
	background-color: var(--bodyColor);
}
body *{
	transition: 0.3s;
}
h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea, small{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}
.p-margin{
	margin: 0;
}
.h-margin{
	margin: 0;
}
/*End body style*/

/*Start navbar style*/
.navbar-light .navbar-nav .nav-link{
	color:var(--navLinkColor);
}
.navbar-light .navbar-nav .nav-link:hover{
	color:var(--navLinkHoverColor);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--aciveNavLinkColor);
	border-bottom: 2px solid;
}
.nav-icon{
	color: var(--navbarIconColor);
}
.bg-light{
	background-color: var(--navbarBackgroundColor) !important; 
}
.theme-button{
	background: #fff;
    cursor: pointer;
    border: 2px solid #dae0e5;
    border-right-width: 25px;
    padding: 9px;
    text-decoration: none;
    transition: all .5s ease;
	outline: none !important;
}
.dark-mode-toggle{
	background: #3f556c;
	border: 2px solid #15202b;
	outline: none !important;
    border-right-width: 2px;
    border-left-width: 25px;
}

.width-25{
	font-size: larger;
	width: 25px;
}
.modal-dialog-x {
    max-width: 800px !important;
}
.modal-bg{
	background-color: var(--modalBackgroundColor);
}
.search-btn{
	margin-left: 6px;
	background: white;
	border: 1px
	solid #d3d3d3;
}
.search-btn:hover{
	margin-left: 6px;
	background: white;
	border: 1px solid #000000;
}
.search-btn:active{
	background: #ececec;
}
.search-btn-icon{
	color:#767676;
}

/*End navbar style*/

/*Start head section style*/
.HeadSection{
	text-align:center;
	padding: 10px 45px;
    background-color: var(--headerBackgroundColor);
	border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,.125);
}
.info{
	margin-top: 40px;
}
.themesControler{
	margin-left:auto;
}
.theme-btn{
	margin-top: 60px;
}
.social {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	color: var(--headIconColor);
	border:1px solid var(--headIconBorderColor);
}

  .social:hover {
	background-color: var(--headIconBorderColor);
	color: #fff;
	
}

.head-icon{
	font-size: 21px;
	margin-top: 9px;
  }

.logo-hvr:hover{
	color:#fff;
}  

/*End head section style*/
  
/*Start main section style*/
.mainSection{
	  margin-top:40px
  }

/*End main section style*/
  
/*Start card style*/
.card{
	background-color:var(--cardBackgroundColor);
	margin-bottom:20px;
	border-radius: 10px;
}

.h5-card-head{
	margin-bottom:20px;
}
.postsContainer{
	margin-top:15px;
}
.postsImage{
	width:100%;
	height: auto;
	border-radius: 0.25rem;
}
.experienceContainer{
	margin-top:15px;
	margin-left:auto;
}
.experienceImage{
	width:100%;
	border-radius: 0.25rem;
}
.experienceDescription{
	margin-left:20px;
	max-width:300px;
}

.background-img{
	height: 350px;
    border-radius: 10px;
    background-size: cover !important;
    background-position: 50% 50% !important;
	cursor: pointer;
}
.card-shadow:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 20%), 0 6px 20px 0 rgba(0, 0, 0, 40%);

}
.big-size{
    font-size: 2.5rem;
}
/*End card style*/


/*Start list style*/
.list-group-item{
	background-color:var(--listBackgroundColor);
	
}
/*End list style*/

/*Start scroll top button style*/
#button {
	display: inline-block;
	background-color: #ffffff;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	border:1px solid #ececec;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	  opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  #button::after {
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
  }
  #button:hover {
	cursor: pointer;
  }

  #button.show {
	opacity: 1;
	visibility: visible;
  }
  
/*End scroll top button style*/

/*Start footer style*/
.footer{
	margin-top:100px;
}
.mainFooterContent{
	padding:70px;
	background-color:var(--footerBackgroundColor);
}

.social a {
	width: 25px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
  }
.footer-color{
	color: var(--footerColor);
}

.footer-icon{
	font-size: 21px;
	padding: 4px;
}
.footer-icon:hover{
	color:#fff;
	
}

/*End footer style*/

/*Start contact style*/
.submit-button{
	background-color: #fff;
    border: 1px solid #767676;
    color: #767676;
}
.submit-button:hover{
	background-color: #fff;
    border: 1px solid #353535;
    color: #353535;
}
.submit-button:active{
	background-color: #ececec;
}
/*End Start contact style*/


.model-border{
	border-bottom:none;
}

hr{
	border-top: 1px solid var(--hrColor);
}
.background-header-img{
	min-height: 350px;
    border-radius: 10px;
    background-size: cover !important;
    background-position: 50% 50% !important;
	cursor: pointer;
}