/*Start light theme*/
:root{
	--navbarBackgroundColor:#fff;
	--bodyColor:#f3f2ef;
	--headerBackgroundColor:#fff;
	--mainText:#353535;
	--secondaryText:#4b5156;
	--topBarBacgroundColor:#778492;
	--cardBackgroundColor:#fff;
	--listBackgroundColor:#fff;
	--footerBackgroundColor:#e0e0e0;
	--navLinkColor:gray;
	--navLinkHoverColor:rgb(0, 0, 0);
	--navbarIconColor:#4b5156;
}
/*End light theme*/

/*Start dark theme*/
.darkmode {
	--navbarBackgroundColor:#192734;
	--bodyColor:#15202b;
	--headerBackgroundColor:#192734;
	--mainText:#e4e4e4;
	--secondaryText:#929292;
	--topBarBacgroundColor:#778492;
	--cardBackgroundColor:#192734;
	--listBackgroundColor:#192734;
	--footerBackgroundColor:#192734;
	--color-calendar-graph-day-bg: #15202b;
	--calendarTextColor:#e4e4e4;
	--navLinkColor:#c6c6c6;
	--navLinkHoverColor:rgb(255, 255, 255);
	--navbarIconColor:#fff;
}
/*End dark theme*/

/*Start body style*/
html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	background-color: var(--bodyColor);
}
body *{
	transition: 0.3s;
}
h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea, small{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}
.p-margin{
	margin: 0;
}
.h-margin{
	margin: 0;
}
/*End body style*/

/*Start navbar style*/
.navbar-light .navbar-nav .nav-link{
	color:var(--navLinkColor);
}
.navbar-light .navbar-nav .nav-link:hover{
	color:var(---navLinkHoverColor);
}
.nav-icon{
	color: var(--navbarIconColor);
}
.bg-light{
	background-color: var(--navbarBackgroundColor) !important; 
}
.theme-button{
	background: #fff;
    cursor: pointer;
    border: 2px solid #dae0e5;
    border-right-width: 25px;
    padding: 9px;
    text-decoration: none;
    transition: all .5s ease;
	outline: none !important;
}

.dark-mode-toggle{
	background: #007bff;
	border: 2px solid #15202b;
	outline: none !important;
    border-right-width: 2px;
    border-left-width: 25px;
}
/*End navbar style*/

/*Start head section style*/
.HeadSection{
	text-align:center;
	padding: 10px 45px;
    background-color: var(--headerBackgroundColor);
	border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,.125);
}
.info{
	margin-top: 40px;
}
.themesControler{
	margin-left:auto;
}
.theme-btn{
	margin-top: 60px;
}
.infoContainer .info .social a {
	width: 44px;
	height: 44px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
  }
.infoContainer .info .social a i{
	font-size: xx-large;

  }

/*End head section style*/
  
/*Start main section style*/
.mainSection{
	  margin-top:40px
  }

/*End main section style*/
  
/*Start card style*/
.card{
	background-color:var(--cardBackgroundColor);
	margin-bottom:20px;
	border-radius: 10px;
}

.h5-card-head{
	margin-bottom:20px;
}
.postsContainer{
	margin-top:15px;
}
.postsImage{
	width:100%;
	height: auto;
	border-radius: 0.25rem;
}
.experienceContainer{
	margin-top:15px;
	margin-left:auto;
}
.experienceImage{
	width:100%;
	border-radius: 0.25rem;
}
.experienceDescription{
	margin-left:20px;
	max-width:300px;
}
/*End card style*/


/*Start list style*/
.list-group-item{
	background-color:var(--listBackgroundColor);
	
}
/*End list style*/

/*Start footer style*/
.footer{
	margin-top:65px;
}
.mainFooterContent{
	padding:50px;
	background-color:var(--footerBackgroundColor);
}
/*End footer style*/
