{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="You can find everything about me, my previous work, and contact information here.">
	<title>{%block title%}Hamdy Ramzy{%endblock%}</title>
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="shortcut icon" type="../static/images/favicon.png" href="../static/images/favicon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/hover-min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/github-calendar-responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/default.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <!-- Start navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand mt-2 brand-logo" href="/"><h4>HAMDY</h4></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class=""><i style="font-size: 25px;" class="bi bi-list"></i></span>
            
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {{home_page}}"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item {{blog_page}}"><a class="nav-link" href="/blog">Blog</a></li>
                        <li class="nav-item {{projects_page}}"><a class="nav-link" href="/projects">Projects</a></li>
                        <li class="nav-item {{contact_page}}"><a class="nav-link" href="/contact">Contact</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a  type="button" style="font-size: 18px;" data-toggle="modal" data-target="#searchBar"  class="nav-link ml-auto"><i class="bi bi-search nav-icon-p"></i></a></li>
                        <li class="nav-item"><i id="icon" style="font-size: 25px;" class="fass bi bi-brightness-low-fill nav-icon-p  dark-button"></i></li>
                    </ul>
                    <script src="../static/js/dark.js"></script>
            </div>
        </div>

    </nav>
    <!-- End navbar -->
    
    <!-- Start SearchBar Modal -->
    {% include 'includes/search_modal.html' %}
    <!-- End SearchBar Modal -->
    
    <!-- Start scroll top button -->
    <a id="button" class="shadow hvr-bob"><i class="fas fa-chevron-up" style="margin-top: 16px; font-size: 16px; color:#252525"></i></a>
    <!-- End scroll top button -->
<div class="container">
    {% block body %}
    <section class="mainSection">
        <!-- Start headr -->
        <div class="HeadSection">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12 photo ">
                    <img src="../static/images/favicon.png" alt="HamdyRamzy" height="200" width="200">
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 infoContainer">
                    <div class="info">
                        <h2>Hamdy Ramzy</h2>
                        <p>Software developer</p>
                        <div class="social-container">
                            <a class="social" href="#"><i class="fab fa-facebook-f head-icon"></i></a>
                            <a class="social" href="#"><i class="fab fa-linkedin-in head-icon"></i></a>
                            <a class="social" href="#"><i class="fab fa-github head-icon"></i></a>
                            <a class="social" href="#"><i class="fab fa-twitter head-icon"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12 themesControler">
                    
                </div>
            </div>
        </div>
        <!-- End header -->
        
        <!-- Start Body -->
        <div class="row">
            <div class="col-lg-8 leftSection">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h5-card-head">About me</h5>
                            <p>
                                I'm a python developer using native python & Django framework, I'm ready to gain more experience as a Django web developer and currently, I'm working with flutter as a mobile applications framework.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h5-card-head">Latest Projects</h5>
                            <div class="row postsContainer">
                                <div class="col-lg-4 col-md-4 col-sm-12 postsImageContainer">
                                    <img src="../static/images/one badge.png"  class="postsImage" alt="-">
                                </div>
                                <div class="col-lg-8 col-md-8  col-sm-12 postsDescription">
                                    <h6>Latest Projects</h6>
                                    <p>Write a brief intro about yourself. It's a good idea to include your personal interests and hobbies as well.  Aenean massa.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h5-card-head">Latest Blog Posts</h5>
                            <div class="row postsContainer">
                                <div class="col-lg-4 col-md-4 col-sm-12 postsImageContainer">
                                    <img src="../static/images/one badge.png" class="postsImage" alt="-">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 postsDescription">
                                    <h6>Latest Blog Posts</h6>
                                    <p>Write a brief intro about yourself. It's a good idea to include your personal interests and hobbies as well.  Aenean massa.</p>

                                </div>
                            </div>
                            <div class="row postsContainer">
                                <div class="col-lg-4 col-md-4 col-sm-12 postsImageContainer">
                                    <img src="../static/images/one badge.png" class="postsImage" alt="-">
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 postsDescription">
                                    <h6>Latest Blog Posts</h6>
                                    <p>Write a brief intro about yourself. It's a good idea to include your personal interests and hobbies as well.  Aenean massa.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h5-card-head ">My GitHub</h5>
                            <div class="calendar">

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h5-card-head">Work Experience</h5>
                            <div class="row experienceContainer">
                                <div class="experienceImageContainer">
                                    <img src="../static/images/upworkgreen.png" class="experienceImage" alt="-" height="60" width="60">
                                </div>
                                <div class="experienceDescription">
                                    <h6 class="p-margin">Work Experience</h6>
                                    <p class="p-margin">upwork.freelancer</p>
                                    <small>oct 2021 - Present . 1 mon</small>
                                </div>
                            </div> 
                      
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="h5-card-head">licenses & certifications</h5>
                            <div class="row experienceContainer">
                                <div class="experienceImageContainer">
                                    <img src="../static/images/edx.jpg" class="experienceImage" alt="-" height="60" width="60">
                                </div>
                                <div class="experienceDescription">
                                    <h6 class="p-margin">CS50x: CS50's Introduction to Computer Science</h6>
                                    <p class="p-margin">Issue Aug2021 . No Expiration Date</p>
                                    <small>Credential ID 880e144e8a8a40dda4e15ea03509131c</small>
                                </div>
                            </div>
                       
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 rightSection">
                <div class="card">
                    <div class="card-body">
                        <h5 class="h5-card-head">Contact Info</h5>
                        <ul class="list-group list-group-flush contactIconContainer">
                            <li class="list-group-item"><i class="fas fa-phone-alt contactIcon"></i> 01064549359</li>
                            <li class="list-group-item"><i class="far fa-envelope contactIcon"></i> hamdyramzy34@gmail.com</li>
                            <li class="list-group-item"><i class="fas fa-birthday-cake contactIcon"></i> 24-Dec-1997</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="h5-card-head">Skills</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Django</li>
                            <li class="list-group-item">Python</li>
                            <li class="list-group-item">CSS</li>
                            <li class="list-group-item">HTML</li>
                            <li class="list-group-item">Javascript</li>
                          </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="h5-card-head">Language</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Arabic</strong>: Native Speaker</li>
                            <li class="list-group-item"><strong>English</strong>: Professional</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    <script src="../static/js/githun-calender.min.js"></script>
    <script src="../static/js/github-api.js"></script>
</body>   
    {% endblock %}
</div>      
    <!-- End Body -->

    <!-- Start Footer -->
    <footer class="footer">
        <div class="mainFooterContent row justify-content-between ">
            <div class="col-lg-4 col-md-4 p-3">
                <h4 class="footer-color "><a href="/" class="text-decoration-none footer-color logo-hvr">HAMDY</a></h4> 
                <small class="footer-color">Subscription and Membership Management Software</small>
            </div>  
            <div class="col-lg-4 col-md-4 p-3">
                <div class="footer-social">
                    <a href="#"><i class="fab fa-facebook footer-color footer-icon"></i></a>
                    <a href="#"><i class="fab fa-linkedin footer-color footer-icon"></i></a>
                    <a href="#"><i class="fab fa-github footer-color footer-icon"></i></a>
                    <a href="#"><i class="fab fa-twitter footer-color footer-icon"></i></a>
                </div>
                <small class="copyright footer-color">&copy; 2020–2021 Hamdy Ramzy</small>
            </div>     
        </div>
    </footer>
    <!-- End Footer -->
    
    <!-- Start js files -->
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/top-button.js"></script>   
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    
    <!-- End js files -->


</html>