{% extends 'base.html' %}
{% load static %}

    {%block title%}Hamdy Ramzy - Contact{%endblock%}

<body>
  {% block body %}
    <div class="mt-5">
      <div class="col-lg-6 col-sm-12">
          <h3 class="text-center">Contact me</h3> 
        <div class="card  mt-3">
          <div class="card-body">
            <form>
              <div class="form-group">
                <input type="text" class="form-control shadow-none" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
              </div>
              <div class="form-group">
                <input type="email" class="form-control shadow-none" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small class="text-muted">Please, enter the email address where you wish to receive our answer.</small>
              </div>
              <div class="form-group">
                <textarea class="form-control shadow-none" placeholder="Write me a message" id="exampleFormControlTextarea1" rows="3"></textarea>
                <small class="text-muted">Please enter the details of your request, once your request is submitted, i'll respond as soon as possible.</small>
              </div>
              <button type="submit" class="btn w-100 submit-button shadow-none">Submit</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  {% endblock %}  







</body>
</html>