{% extends 'base.html' %}
{% load static %}

{%block title%}Contact | Hamdy Ramzy{%endblock%}
{% block extra_head_tags %}
<meta property="og:site_name" content="Hamdy Ramzy">
<meta property="og:title" content="Hamdy Ramzy">
<meta property="og:description" content="You can find everything about me, my previous work, and contact information here.">
<meta name="og:url" content="http://www.hamdyramzy.com/">
<meta property="og:image" content="{{owner.photo.url}}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site_name" content="Hamdy Ramzy">
<meta name="twitter:title" content="Hamdy Ramzy">
<meta name="twitter:description" content="You can find everything about me, my previous work, and contact information here.">
<meta name="twitter:url" content="http://www.hamdyramzy.com/">
<meta name="twitter:image" content="http://www.hamdyramzy.com{{owner.photo.url}}">

<meta property="og:image:width" content="2000">
<meta property="og:image:height" content="1056">
{% endblock %}

<body>
  {% block body %}
  <div class="container margin-container">
    <div class="row mt-5">
      <div class="col-lg-6 col-sm-12">
        <div class="margin-top">
          <div>
            <h2 class="bigger-size">I Want to Hear From You</h2>
          </div>
          <div>
            <h2 class="mb-0 mt-2">Give me a call</h2>
            <small class="">For a quick interaction.</small>
            <p>{{phone.information}}</p>
          </div>

          <div>
            <h2 class="mb-0 mt-2">Contact with me</h2>
            <small class="">My DMs are open for everyone.</small>
            <div class="social-container mt-3  mb-5">
              {%for link in links%}
              <a class="contact-social" target="_blank" href="{{link.url}}"><i
                  class="{{link.icon}} contact-icon"></i></a>
              {%endfor%}
            </div>
          </div>

        </div>

      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="card mt-3 shadow">
          <div class="card-head">
            <h3 class="text-center mt-3 mb-0">Send me an email</h3>
          </div>
          <div class="card-body">
            <form action="" method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn w-100 submit-button shadow-none">Send</button>
            </form>
          </div>
        </div>
      </div>


    </div>
    {% endblock %}







</body>

</html>