{% extends 'base.html' %}
{% load static %}

    {%block title%}Hamdy Ramzy - {{post.title}}{%endblock%}

<body>
{% block body %}
    <div class="mt-5">
        <div class="card background-header-img" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{post.post_picture.url}});">
            <div class="card-body text-center c-table">
                <div class="table-container">
                    <h2 class="big-size card-head table-text-color">{{post.title}}</h2>
                    <p class="table-text-color">{{post.description}}</p>
                    <small class="d-block table-text-color">
                        {% for tag in post.tags.all %}
                        #{{tag }}
                        {%endfor%}
                    </small>
                    <small class="table-text-color">{{post.uploaded_date}}</small>
                </div>
            </div>
        </div>
        <div class="mt-5 img-container">
            {{post.content|safe}}
        </div>
    </div>
    <div class="mt-5">
        <h2 class="">Related posts</h2>
        <div class="row mt-5">
            {%for post in related_posts%}
                <div class="col-lg-4">
                    <a href="{% url 'post-detail' post.slug %}" class="text-decoration-none">    
                        <div class="card background-header-img hvr-bob card-shadow" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url({{post.post_picture.url}});">
                            <div class="card-body text-center c-table">
                                <div class="table-container">
                                    <h4 class="card-head table-text-color">{{post.title}}</h4>
                                    <p class="table-text-color">{{post.description}}</p>
                                    <small class="d-block table-text-color">
                                        {% for tag in post.tags.all %}
                                        #{{tag }}
                                        {%endfor%}
                                    </small>
                                    <small class="table-text-color">{{post.uploaded_date}} · {{post.time}} min read</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {%endfor%}
        </div>
    </div>
    
{% endblock %}  


</body>
</html>