
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>website 6</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Roboto.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Pretty-Product-List.css">
    <link rel="stylesheet" href="assets/css/shopping-ecommerce-products.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background: #f05f40;color: var(--bs-white);margin-bottom: 5px;">
        <div class="container"><a class="navbar-brand" href="#page-top" style="color: #ffffff;">Negm pharmacy</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="color: rgb(255,255,255);">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about" style="color: #fffefe;">Home</a></li>
                    <li class="nav-item" style="color: #fffefe;"><a class="nav-link" href="#services" style="color: #fffefe;">Medication</a></li>
                    <li class="nav-item" style="color: #fffefe;"><a class="nav-link" href="#portfolio" style="color: #fffefe;">Beauty</a></li>
                    <li class="nav-item" style="color: #fffefe;"><a class="nav-link" href="#contact" style="color: #fffefe;">Nutrition</a></li>
                </ul>
                <ul class="navbar-nav" style="color: #fffefe;">
                    <li class="nav-item" style="color: #fffefe;"><a class="nav-link" href="#" style="color: #fffefe;">MOM AND BABY<br></a></li>
                    <li class="nav-item" style="color: #fffefe;"><a class="nav-link" href="#" style="color: #fffefe;">EVERY DAY ESSENTIALS<br></a></li>
                </ul>
                <ul class="navbar-nav" style="color: #fffefe;">
                    <li class="nav-item" style="color: #fffefe;"></li>
                    <li class="nav-item" style="color: #fffefe;"><a class="nav-link" href="#" style="color: #fffefe;">HOME HEALTH CARE</a></li>
                    <li class="nav-item" style="color: #fffefe;"><a class="nav-link" href="#" style="color: #fffefe;">offers</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Heading</h1>
    </div>
    <div class="row product-list">
        <div class="col">
            <h1 class="text-center" style="color: #f05f40;border-color: #f05f40;">HOME HEALTH CARE</h1><input class="form-control-lg" type="search" placeholder="Product Name" style="text-align: center;">
            <div class="container mtr-5 mb-2">
                <div class="row">
                    <div class="col-md-2 col-12 border">
                        <p class="lead text-center mb-0">Max Price:</p><input type="number" class="form-control text-center" value="200"><input class="form-range w-100" type="range" min="0" max="200">
                        <hr>
                        <p class="lead text-center mb-0">Sort By:</p><select class="form-control" name="sort">
                            <option value="all" selected="">Price: Low to High</option>
                            <option value="price_high">Price: High to Low</option>
                        </select>
                        <hr>
                        <p class="lead text-center mb-0">Product:</p><select class="form-control" name="gender">
                            <option value="all" selected="">All</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="unisex">Unisex</option>
                        </select>
                        <hr>
                        <p class="lead text-center mb-0">Company:</p><select class="form-control" name="brand">
                            <option value="all" selected="">All</option>
                            <option value="Nike">Nike</option>
                        </select>
                        <hr>
                        <p class="lead text-center mb-0">Medication:</p><select class="form-control mb-2" name="color">
                            <option value="all" selected="">All</option>
                            <option value="orange">Orange</option>
                        </select>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="shopping-grid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="product-grid7">
                                            <div class="product-image7"><a href="#"><img src="img-1.jpg" class="pic-1"><img src="img-2.jpg" class="pic-2"></a>
                                                <ul class="social">
                                                    <li><a class="fa fa-search"></a></li>
                                                    <li><a class="fa fa-shopping-bag"></a></li>
                                                    <li><a class="fa fa-shopping-cart"></a></li>
                                                </ul>
                                            </div>
                                            <div class="product-content">
                                                <h3 class="title"><a href="#">Men's Blazer</a></h3>
                                                <div class="price"><span>$15.00</span><span>$20.00</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="product-grid7">
                                            <div class="product-image7"><a href="#"><img src="img-3.jpg" class="pic-1"><img src="img-4.jpg" class="pic-2"></a>
                                                <ul class="social">
                                                    <li><a class="fa fa-search"></a></li>
                                                    <li><a class="fa fa-shopping-bag"></a></li>
                                                    <li><a class="fa fa-shopping-cart"></a></li>
                                                </ul>
                                            </div>
                                            <div class="product-content">
                                                <h3 class="title"><a href="#">Women's White Shirt</a></h3>
                                                <div class="price"><span>$15.00</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="product-grid7">
                                            <div class="product-image7"><a href="#"><img src="img-5.jpg" class="pic-1"><img src="img-6.jpg" class="pic-2"></a>
                                                <ul class="social">
                                                    <li><a class="fa fa-search"></a></li>
                                                    <li><a class="fa fa-shopping-bag"></a></li>
                                                    <li><a class="fa fa-shopping-cart"></a></li>
                                                </ul>
                                            </div>
                                            <div class="product-content">
                                                <h3 class="title"><a href="#">Men's Blazer</a></h3>
                                                <div class="price"><span>$15.00</span><span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="product-grid7">
                                            <div class="product-image7"><a href="#"><img src="img-7.jpg" class="pic-1"><img src="img-8.jpg" class="pic-2"></a>
                                                <ul class="social">
                                                    <li><a class="fa fa-search"></a></li>
                                                    <li><a class="fa fa-shopping-bag"></a></li>
                                                    <li><a class="fa fa-shopping-cart"></a></li>
                                                </ul>
                                            </div>
                                            <div class="product-content">
                                                <h3 class="title"><a href="#">Men's Blazer</a></h3>
                                                <div class="price"><span>$15.00</span><span>$20.00</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
index.html
Displaying index.html.