{% extends 'base.html' %}
{% load static %}

    {%block title%}Hamdy Ramzy - Projects{%endblock%}

<body>
  {% block body %}
<section>
  <div class="">
    <h3 class="mt-5">The HAMDY Projects</h3>
    <p>Everything you need to know about subscriptions, memberships, donations, and more! New blog posts released every week.</p>
    <hr>
  </div>
  
  
  <div class="cards-container mt-5">
    {%for project in projects%}
    <a href="{% url 'project-detail' project.slug %}" class="text-decoration-none">
      <div class="row mt-5" data-aos="fade-right" data-aos-once='true'>
        <div class="col-lg-6 ">
          <div class="card hvr-bob">
            <div class="card-body background-img  card-shadow" style="background: url({{project.post_picture.url}});"></div>
          </div>
        </div>
        <div class="col-lg-6">
          <h2 class="big-size">{{project.title}}</h2>
          <p>{{project.description}}</p>
          <small class="d-block">
            {% for tag in project.tags.all %}
            #{{tag }}
            {%endfor%}
          </small>
          <small>{{project.uploaded_date}} · {{project.time}} min read</small>
        </div>
      </div>
    </a>
    {%endfor%}
  </div>
        <!--Start pagination-->
        <nav aria-label="..." class="text-center" style="margin-top: 120px;">
          <ul class="pagination justify-content-center">
            {% if projects.has_previous %}
              <li class="page-item">
                <a class="page-link opened" href="?page={{projects.previous_page_number}}">Previous</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
            {% endif %}
            {% for page_num in projects.paginator.page_range %}
              {% if projects.number == page_num %}
                <li class="page-item active">
                  <a class="page-link" href="?page={{page_num}}">{{page_num}}</a><span class="sr-only">(current)</span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{page_num}}">{{page_num}}</a>
                </li>
              {% endif %}
            {% endfor %}
            {% if projects.has_next %}
              <li class="page-item">
                <a class="page-link opened" href="?page={{projects.next_page_number}}">Next</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <span class="page-link">Next</span>
              </li>
            {% endif %}
          </ul>
        </nav>
        <!--End pagination-->
</section>
{% endblock %}  







</body>
</html>