{% extends 'base.html' %}
{% load static %}

{%block title%}Search Results: {{search_str}} | Hamdy Ramzy{%endblock%}
{% block extra_head_tags %}
<meta property="og:site_name" content="Hamdy Ramzy">
<meta property="og:title" content="Hamdy Ramzy">
<meta property="og:description" content="You can find everything about me, my previous work, and contact information here.">
<meta name="og:url" content="http://www.hamdyramzy.com/">
<meta property="og:image" content="{{owner.photo.url}}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site_name" content="Hamdy Ramzy">
<meta name="twitter:title" content="Hamdy Ramzy">
<meta name="twitter:description" content="You can find everything about me, my previous work, and contact information here.">
<meta name="twitter:url" content="http://www.hamdyramzy.com/">
<meta name="twitter:image" content="http://www.hamdyramzy.com{{owner.photo.url}}">

<meta property="og:image:width" content="2000">
<meta property="og:image:height" content="1056">
{% endblock %}
<body>
    {% block body %}
    <div class="container margin-container">
        <h2 class="big-size">The Results for :<span class="clip font-weight-bold"> {{search_str }}</span></h2>
        {% if results_count %}
        <p>founded ({{posts_count}}) articles and ({{projects_count}}) projects.</p>
        {% endif %}

        <div class="row mt-5">

            {% if not results_count %}

            <h2 class="big-size mt-3 mb-5 p-4">No results match this query!</h2>

            {% endif %}

            {%for result in all_results%}

            <div class="col-lg-6 col-md-6 col-sm-12">
                {% if result.type == 'blog_post' %}
                <a href="{% url 'post-detail' result.slug %}" class="text-decoration-none">
                    {% else %}
                    <a href="{% url 'project-detail' result.slug %}" class="text-decoration-none">
                        {% endif %}
                        <div class="card background-header-img hvr-bob card-shadow"
                            style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url({{result.post_picture.url}});">
                            <div class="card-body text-center c-table">
                                <div class="table-container">
                                    <h4 class="card-head table-text-color">{{result.title}}</h4>
                                    <p class="table-text-color">{{result.description}}</p>
                                    <small class="d-block table-text-color">
                                        {% for tag in result.tags.all %}
                                        #{{tag }}
                                        {%endfor%}
                                    </small>
                                    <small class="table-text-color">{{result.uploaded_date}} · {{result.time}} min
                                        read</small>
                                </div>
                            </div>
                        </div>
                    </a>
            </div>

            {%endfor%}








        </div>


        {% endblock %}
</body>