/*Start light theme*/
:root{
	--navbarBackgroundColor:#fff;
	--bodyColor:#f3f2ef2e;
	--headerBackgroundColor:#fff;
	--mainText:#000;
	--secondaryText:#111;
	--topBarBacgroundColor:#778492;
	--cardBackgroundColor:#fff;
	--listBackgroundColor:#fff;
	--footerBackgroundColor:#252525;
	--navLinkColor:gray;
	--navLinkHoverColor:rgb(0, 0, 0);
	--navbarIconColor:#4b5156;
	--modalBackgroundColor:#fff;
	--aciveNavLinkColor:#000;
	--footerColor:#dcdcdc;
	--hrColor:#cccccc;
	--headIconColor: #000000;
	--headIconHoverColor: #fff;
	--headIconBorderColor:	#000000;

	--resumeBtnColor: #000000;
	--resumeBtnHoverColor: #fff;
	--resumeBtnBorderColor:	#000000;

	--formBorderColor: rgba(0,0,0,.125);
	--formBackgroundColor: #fff;
	--ButtonBackgroundColor:white;
	--ButtonBorderColor:#d3d3d3;
	--searchIconColor:#767676;
	--buttonTextColor: #767676;
	--shdowColor:rgba(0, 0, 0, 40%);
	--pageLinkColor: #6c757d;
	--pageLinkBackgroundColor:#fff;
	--pageLinkBorderColor: #dee2e6;
	--pageLinkColor-hover: #252525;
	--pageLinkBackgroundColor-hover:#e9ecef;
	--pageLinkColor-active: #fff;
	--pageLinkBackgroundColor-active:#252525;
	--pageLinkBorderColor-active: #383838;
	--seeMoreBtn:rgba(0,0,0,.125);
	--listItemBorderColor:rgba(0,0,0,.125);
	--contactIconColor: #474747;
	--contactIconHoverColor: #000;
	
}
/*End light theme*/

/*Start dark theme*/
.dark {
    --navbarBackgroundColor: #161b22;
    --bodyColor: #0d1117;
    --headerBackgroundColor: #161b22;
    --mainText: #e4e4e4;
    --secondaryText: #c2c2c2;
    --topBarBacgroundColor: #778492;
    --cardBackgroundColor: #161b22;
    --listBackgroundColor: #161b22;
    --footerBackgroundColor: #161b22;
    --color-calendar-graph-day-bg: #0d1117;
    --calendarTextColor: #e4e4e4;
    --navLinkColor: #c6c6c6;
    --navLinkHoverColor: rgb(255, 255, 255);
    --navbarIconColor: #fff;
	--modalBackgroundColor:#161b22;
	--aciveNavLinkColor:#fff;
	--footerColor:#dcdcdc;
	--hrColor:#21262d;
	--headIconColor:#e4e4e4;
	--headIconHoverColor: #161b22;
	--headIconBorderColor:#e4e4e4;

	--resumeBtnColor:#e4e4e4;
	--resumeBtnHoverColor: #161b22;
	--resumeBtnBorderColor:#e4e4e4;

	--formBorderColor: #4b688d;
	--formBackgroundColor: #1f2936;
	--ButtonBackgroundColor:#4b688d;
	--ButtonBorderColor:#4b688d;
	--searchIconColor:#e4e4e4;
	--buttonTextColor: #fff;
	--shdowColor:rgb(31 64 104 / 60%);	
	--pageLinkColor: #d9d9d9;
	--pageLinkBackgroundColor:#2d343f;
	--pageLinkBorderColor: #242a32;
	--pageLinkColor-hover: #fff;
	--pageLinkBackgroundColor-hover: #3e4652;
	--pageLinkColor-active: #fff;
	--pageLinkBackgroundColor-active: #4d596a;
	--pageLinkBorderColor-active: 1px solid #414a58;
	--seeMoreBtn:#21262d;
	--listItemBorderColor:#21262d;
	--contactIconColor: #a8a8a8;
	--contactIconHoverColor: #fff;
}
/*End dark theme*/

/*Start body style*/
html, body{
	padding: 0;
	margin: 0;
	max-width: 100%;
    overflow-x: hidden;
	scroll-behavior: smooth;
	background-color: var(--bodyColor);
}

h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea, small{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}
.p-margin{
	margin: 0;
}
.h-margin{
	margin: 0;
}
.margin-container{
	margin-top: 100px;
}

hr{
	border-top: 1px solid var(--hrColor);
}

.top-button{
	margin-top: 16px;
	font-size: 16px;
	color:#252525;
}

.margin-none{
	margin-bottom:0;
}
.img-container img{
	width: 100% !important;
	height: 100% !important;
}
/*End body style*/

/*Start navbar style*/
.navbar-light .navbar-nav .nav-link{
	color:var(--navLinkColor);
}
.navbar-light .navbar-nav .nav-link:hover{
	color:var(--navLinkHoverColor);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: var(--aciveNavLinkColor);
}
@media (min-width: 768px){
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active {
	border-bottom: 2px solid var(--aciveNavLinkColor);
}
}

.navbar-light .navbar-toggler{
	border-color: var(--navLinkColor);
}
.nav-icon{
	color: var(--navbarIconColor);
}
.bg-light{
	background-color: var(--navbarBackgroundColor) !important; 
}
.theme-button{
	background: #fff;
    cursor: pointer;
    border: 2px solid #dae0e5;
    border-right-width: 25px;
    padding: 9px;
    text-decoration: none;
    transition: all .5s ease;
	outline: none !important;
}
.dark-button:hover{
	color:var(--navLinkHoverColor);
}

.width-25{
	font-size: larger;
	width: 25px;
}
.modal-dialog-x {
    max-width: 800px !important;
}
.modal-dialog-xx {
    max-width: 1000px !important;
}
.modal-bg{
	background-color: var(--modalBackgroundColor);
}
.search-btn{
	background: var(--ButtonBackgroundColor);
	border: 1px
	solid var(--ButtonBorderColor);
	padding: 1em;
    height: auto;
}
.search-btn-icon{
	color:var(--searchIconColor);
}
.fass {
	cursor: pointer;
	transform: rotate(-25deg);
	color: var(--navLinkColor);
}
.pointer {
	cursor: pointer;
	color: var(--navLinkColor);
}

.nav-icon-p{
	padding: 0px 4px;
}
.fixed-nav{
	position: fixed;
    width: 100%;
    z-index: 9999;
}

.shadow{
	transition: 0.3s ease-in-out;
}

/*End navbar style*/

/*Start head section style*/
.HeadSection{
	text-align:center;
	padding: 10px 45px;
    background-color: var(--headerBackgroundColor);
	border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,.125);
}
.infoContainer{
	padding-top: 20px;
}
.resumeControler{
	margin-left:auto;
}
.theme-btn{
	margin-top: 60px;
}
.social {
	width: 35px;
	height: 35px;
	margin: 0px 2px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	color: var(--headIconColor);
	border:1px solid var(--headIconBorderColor);
}

.social:hover {
	background-color: var(--headIconBorderColor);
	color: var(--headIconHoverColor);
	
}
.contact-social{
	margin-right: 11px;
	display: inline-block;
	color: var(--contactIconColor);
}
.contact-social:hover{
	color: var(--contactIconHoverColor);
}
.contact-icon{
	font-size: 30px;
}

.head-icon{
	font-size: 18px;
	margin-top: 8px;
}


.logo-hvr:hover{
	color:#fff;
}  

/*End head section style*/

/*Start main section style*/
.mainSection{
	margin-top:40px
}

/*End main section style*/

/*Start card style*/
.card{
	background-color:var(--cardBackgroundColor);
	margin-bottom:20px;
	border-radius: 10px;
}
.c-table{
	display: table;
}
.table-container{

	display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.h5-card-head{
	margin-bottom:20px;
}
.postsContainer{
	margin-top:25px;
}
.postsImage{
	border-radius: 0.25rem;
}
.experienceContainer{
	margin-top:15px;
	margin-left:auto;
}
.experienceImage{

	border-radius: 0.25rem;
}
.experienceDescription{
	overflow:auto;
}
.background-img{
	height: 350px;
    border-radius: 10px;
    background-size: cover !important;
    background-position: 50% 50% !important;
	background-repeat: no-repeat;
	cursor: pointer;
}
.card-shadow:hover{
	box-shadow: 0 4px 8px 0 var(--shdowColor), 0 6px 20px 0 var(--shdowColor);	
}

.big-size{
    font-size: 2.5rem;
}

.bigger-size{
    font-size: 3.5rem;
}

.font-size-18{
	font-size: 18px;
}

.font-size-25{
	font-size: 25px;
}

.table-text-color{
	color: white;
}
.background-header-img{
	min-height: 350px;
    border-radius: 10px;
    background-size: cover !important;
    background-position: 50% 50% !important;
	background-repeat: no-repeat;
	cursor: pointer;
}
.background-detail-header-img{
	min-height: 450px;
    background-size: cover !important;
    background-position: 50% 50% !important;
}
.see-more{
	font-weight: 400;
}
.seeMoreBtn{
	padding: 10px;
	border-radius: 0px 0px 9px 9px;
	border-top: 1px solid var(--seeMoreBtn);
}
.seeMoreBtn:hover{
	background-color: var(--seeMoreBtn);
}



/*End card style*/


/*Start list style*/
.list-group-item{
	background-color:var(--listBackgroundColor);
	border-color: var(--listItemBorderColor);
}
.dropdown-menu{
	background-color:var(--listBackgroundColor);
	border-color: var(--listItemBorderColor);
}
.dropdown-item:hover{
	background-color:var(--listBackgroundColor);
}
/*End list style*/

/*Start scroll top button style*/
#button {
	display: inline-block;
	background-color: #ffffff;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
	border:1px solid #ececec;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}
#button::after {
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}
#button:hover {
	cursor: pointer;
}

#button.show {
	opacity: 1;
	visibility: visible;
}

/*End scroll top button style*/

/*Start footer style*/
.footer{
	margin-top:100px;
}
.mainFooterContent{
	padding:70px;
	background-color:var(--footerBackgroundColor);
}

.social a {
	width: 25px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
}
.footer-color{
	color: var(--footerColor);
}

.footer-icon{
	font-size: 21px;
	padding: 4px;
}
.footer-icon:hover{
	color:#fff;
	
}

/*End footer style*/

/*Start contact style*/
.submit-button{
	background-color: var(--ButtonBackgroundColor);
    border: 1px solid var(--ButtonBorderColor);
    color: var(--buttonTextColor);
	padding: 1em;
	height: auto;
	font-weight: 700;
}
.submit-button:hover{
	color: var(--buttonTextColor);
}
/*End contact style*/

/*Start modal style*/

.border-none{
	border-bottom: none;
}

.modal-backdrop {
    z-index: 100000 !important;
}

.modal {
    z-index: 100001 !important;
}
/*End modal style*/

/*Start form style*/
.form-control{
	padding: 1em;
	height: auto;
	background-color: var(--formBackgroundColor);
    border-color:  var(--formBorderColor);
	color: var(--secondaryText);
}
.form-control:focus{
	background-color: var(--formBackgroundColor);
    border-color:  var(--formBorderColor);
	color: var(--secondaryText);
}
.form-control:active{
	background-color: var(--formBackgroundColor);
    border-color:  var(--formBorderColor);
	color: var(--secondaryText);
}
/*End form style*/

/*Start pagination style*/
.page-link {
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	box-shadow:none !important;
	color: var(--pageLinkColor) !important;
	background-color: var(--pageLinkBackgroundColor) !important;
	border: 1px solid var(--pageLinkBorderColor) !important;
}

.page-link:hover {
		z-index: 2;
		text-decoration: none;
		color: var(--pageLinkColor-hover) !important;
		background-color: var(--pageLinkBackgroundColor-hover) !important;
}
.page-item.active .page-link {
	z-index: 3;
	color: var(--pageLinkColor-active) !important;
	background-color: var(--pageLinkBackgroundColor-active) !important;
	border-color: 1px solid var(--pageLinkBorderColor-active);
}
/*End pagination style*/

.clip{
	background: -webkit-linear-gradient(-70deg,#9867f0 0%,#ed4e50 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;

}
.message-container{
	padding:100px 0px ;
	text-align: center;
}
.section-container{
	text-align: center;
}
.section-br{
	border-right: 2px solid var(--seeMoreBtn) ;
}
.section-p{
	padding: 2.25rem;
}
.margin-top{
	margin-top: 40px;
}
.margin-container-detail{
	margin-top: 70px;
}



.post-header{
	max-width: 900px !important;
	margin-top: 150px !important;
}
.post-content{
	max-width: 900px !important;
}

.nav-collapse-btn:focus{
	outline: none !important;
}

.modal-open {
    padding-right: 0px !important;
}
.modal {
    padding-right: 0px !important;
}
.icon-sharing{
	font-size: 25px;
}

.resume-btn-container{
	padding: 20px 0px;
}
.resume-btn{
	border: 1px solid var(--resumeBtnBorderColor);
    font-weight: 600;
    color: var(--resumeBtnColor);
}
.resume-btn:hover{
	background-color: var(--resumeBtnBorderColor);
	color: var(--resumeBtnHoverColor);
}

.carousel-indicators{
	bottom: -32px !important;
}
.carousel-indicators li{
	background-color: var(--secondaryText) !important;
}
.arrow-span{
	color: #c2c2c2 !important;
}
.carousel-image-cover{
	position: absolute;
    object-fit:cover;
    width: 100%;
    top: 0;
    left: 0;
	height: 400px !important;
}
.carousel-item-height{
	height: 400px !important;
}